$breakpoints: (
    "sm":       380px,
    "sm-mid":   650px,
    "md":       768px,
	"lg":       992px,
    "xl":      1200px
);

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}